/*Reset de opciones por defecto*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Globales*/
body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    background-color: #f2f2f2;
    color: white;
}

a{
    text-decoration: none;
    color: white;
}

a:hover{
    color: #fdee23;
}

p{
    font-size: 22px;
    margin-top: 2em;
    font-family: "Roboto", sans-serif;
}

label{
    font-size: 22px;
    font-family: "Roboto", sans-serif;
    color: #000;
}

/*Header*/
.header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 120px;
    background-color: #128efe;
    color: white;
    border: 2px solid #fdee23;
}

.container {
    
}

.icon{
    padding-left: 1em;
}

/*Body*/
.content{
    margin: 2em;
    position: relative;
    background-image: url("./assets/waves.svg");
    background-repeat: no-repeat;
}

.about-me-image{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;;
}

.about-me-image img{
    border-radius: 100px;
    height: 30%;
    width: 30%;
    border-radius: 200px;
    border: 3px solid #128efe;
    margin-bottom: 0;
    padding-bottom: 0;
}

.left{
    margin-top: -1em;
    padding-top: 0;
}

.left-content{
    background: rgba( 18, 142, 254, 0.5 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 3.5px );
    -webkit-backdrop-filter: blur( 3.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    margin: 1.5em;
    padding: 1em;
    
}

.cards {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-gap: 1rem;
  }

.card {
    background-color: dodgerblue;
    color: white;
    padding: 1rem;
    height: 4rem;
  }

/*Fibonacci*/
.fibonacci{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2em;
    height: 150px;
    background-color: #fdee23;
    margin-bottom: 2em;
}

.fibonacci-input{
    width: 40%;
    height: 50px;
    border: 2px solid #128efe;
    border-radius: 10px;
    padding: 1em;
    font-size: 1.5em;
    font-family: "Roboto", sans-serif;
    color: black;
    margin: 1em;
}

.fibonacci-button{
    width: 10%;
    height: 50px;
    border: 2px solid #128efe;
    background-color: #128efe;
    border-radius: 10px;
    font-size: 1.5em;
    font-family: "Roboto", sans-serif;
    color: white;
    margin: 1em;
}

/*Footer*/
.footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 120px;
    background-color: #128efe;
    color: white;

}

@media (min-width: 600px) {
    .cards { grid-template-columns: repeat(2, 1fr); }
  }

  @media (min-width: 768px) {
    .cards { grid-template-columns: repeat(3, 1fr); }
  }

  @media (min-width: 900px) {
    .cards { grid-template-columns: repeat(4, 1fr); }
  }